.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.area {
  display: grid;
  grid-template-areas:
    "brk . sess"
    "clk clk clk"
    ". stp .";
  grid-template-columns: 190px 100px 190px;
}
.block {
  width: 100%;
  display: block;
  flex-direction: column;
}
.btn {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bl-izq {
  grid-area: brk;
}
.bl-der {
  grid-area: sess;
}
.der {
  float: right;
  cursor: pointer;
}
.izq {
  float: left;
  cursor: pointer;
}
.timer-session {
  grid-area: clk;
  border: 1px solid white;
  width: 100%;
}
.button-panel {
  grid-area: stp;
}
.d-f {
  display: flex;
  justify-content: space-between;
}

#start_stop {
  cursor: pointer;
}

#reset {
  cursor: pointer;
}
